@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans:
    "Noto Sans", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Fira Mono", monospace;
  --font-title: "Fredoka One", var(--font-sans), sans-serif;
  --color-mf-bg: #171d23;
  --color-mf-card: #31363f;
  --color-mf-unknown: #4f545d;
  --color-mf-link: #75aaff;
  --color-mf-heading: #ebebeb;
  --color-mf-text: #cacfda;
  --color-mf-event-background: #31363f;
  --color-mf-pre-bg: rgba(255, 255, 255, 0.45);
  --color-mf-light-translucent: rgba(255, 255, 255, 1);
  --color-mf-dark-translucent: #171d23e0;

  --shadow-mf-card: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  --shadow-mf-card-clickable: 0 0 10px 6px rgba(0, 0, 0, 0.1);
  --shadow-mf-pre: 2px 2px 6px rgb(255 255 255 / 25%);

  --transition-mf-clickable:
    0.125s ease-in-out, filter 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

/* FROM OLD APP.CSS. PALLETE HERE IF USEFUL IN FUTURE. */
/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        --background-color: #e3e3e7;*/
/*        --card-color: #fff;*/
/*        --unknown-color: #4f545d;*/
/*        --link-color: #2654c5;*/
/*        --heading-color: #1d1d1f;*/
/*        --text-color: #282a2c;*/
/*        --event-background-color: #ababb4;*/
/*    }*/

/*    .card a {*/
/*        filter: brightness(0.7);*/
/*    }*/
/*}*/

html {
  @apply bg-mf-bg text-mf-text min-h-dvh;
}

#svelte {
  @apply min-h-[80vh] flex flex-col;
}

@layer base {
  h1,
  h2 {
    @apply text-mf-heading;
  }

  h1,
  h2,
  h3 {
    @apply font-title;
  }

  h1 {
    @apply text-3xl mb-2;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg font-bold;
  }

  p {
    @apply leading-6;
    > * {
      @apply my-4;
    }
  }

  a {
    @apply text-mf-link no-underline;
  }

  a:hover {
    @apply underline;
  }

  input,
  button {
    font-size: inherit;
    font-family: inherit;
  }

  pre {
    @apply text-base font-mono bg-mf-pre-bg rounded-sm p-2 overflow-x-auto
      text-mf-text shadow-(--shadow-mf-pre);
  }

  hr {
    @apply mb-3;
  }

  ul {
    @apply list-disc ml-6 my-2;

    li > ul {
      @apply list-[square];
      li > ul {
        @apply list-[lower-alpha];
        li > ul {
          @apply list-[lower-roman];
          li > ul {
            @apply list-disc;
          }
        }
      }
    }
  }

  blockquote {
    @apply border-l-mf-heading border-l-6 px-4 rounded-md bg-mf-bg pb-2 flex
      flex-col justify-center mb-2;
  }

  details {
    @apply bg-mf-bg rounded-md mb-2;
    summary {
      @apply text-mf-heading font-bold cursor-pointer p-2 hover:bg-slate-950
        rounded-md px-4 transition select-none;
    }
    > :not(summary) {
      @apply px-5;
    }
    > :last-child {
      @apply pb-4;
    }
  }

  table {
    @apply border-[1px] border-mf-unknown border-separate border-spacing-0
      max-w-full w-max rounded-xl overflow-auto block;
    td {
      @apply px-2 py-1 border-mf-unknown border-b-[1px];
    }
    tr {
      @apply bg-mf-bg;
    }
    tr:nth-child(2n) {
      @apply bg-mf-card;
    }
    tr:not(:last-of-type) td {
      @apply border-solid;
    }
    tr:last-of-type td {
      @apply border-b-0;
    }
    td:not(:last-of-type) {
      @apply border-mf-unknown border-r-[1px];
    }
    th:not(:last-of-type) {
      @apply border-mf-unknown border-r-[1px];
    }
    th {
      @apply font-bold text-mf-heading p-2;
    }
  }

  button {
    @apply bg-mf-card rounded-xl font-bold p-2 shadow-xl border
      border-mf-unknown active:scale-95 hover:brightness-110
      active:brightness-95 transition cursor-pointer;
  }
}
[open] {
  summary {
    @apply border-b-[1px] border-mf-text mb-4 rounded-b-none;
  }
}

@layer components {
  .card {
    @apply shadow-mf-card rounded-2xl bg-mf-card px-6 py-4;

    h1 {
      @apply mt-0 text-2xl tracking-wider mb-2;
    }
    h2 {
      @apply mt-0 text-xl tracking-wider mb-2;
    }
    h3 {
      @apply mt-0 text-lg tracking-wider mb-2;
    }

    strong {
      color: var(--heading-color);
    }

    p {
      margin-top: 0.5rem;
    }

    img {
      max-width: 100%;
    }

    p:last-child {
      margin-bottom: 0;
    }

    li {
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }

    ul:last-child {
      margin-bottom: 0;
    }

    .clickable:hover {
      @apply shadow-mf-card-clickable;
    }

    .clickable:active,
    .clickable:focus {
      @apply shadow-mf-card-clickable;
    }
  }
  article.card img {
    @apply w-full border-[4px] border-black;
  }

  .clickable {
    @apply !no-underline transition-(--transition-mf-clickable);
  }
  .clickable:hover {
    @apply scale-[1.0125] brightness-[0.9];
    /*transform: scale(1.0125);
    filter: brightness(0.9);*/
  }
  .clickable:active,
  .clickable:focus-visible {
    @apply scale-[1.025] brightness-[0.8];
    /*transform: scale(1.025);
    filter: brightness(0.8); */
  }

  .nav-link {
    @apply p-2 rounded-lg flex items-center justify-center;
  }
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav-link:active,
  .nav-link:focus-visible {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav-link.nav-icon img {
    height: 1.25rem;
    width: 1.25rem;
    object-fit: contain;
  }

  .button {
    @apply px-5 py-3 rounded-xl bg-(--color-mf-link)
      text-(--color-mf-event-background) font-bold no-underline inline-block;
  }

  .anchor {
    display: none;
  }
}

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
  }
}
